<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="180" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebPlayer</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="/css/cake.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/milligram.min.css" rel="stylesheet">
    <link href="/css/normalize.min.css" rel="stylesheet">
   

    
<body>
    <nav class="top-nav">
        <div class="top-nav-title">
	        <a href="/"><span><%=logo%></span></a>
        </div>
        <div class="top-nav-links">
            
        </div>
        <div class="top-nav-links">
         <p>MPD: <%=status%></p> 
        </div>
    </nav>
    <main class="main">
        <div class="container">