<%-include('header.ejs') %>

<div class="row">
    <div class="column-responsive column-100">
        <div class="aussonderung index content">
            <p>Playing: '<%=pstate%>'</p>
            <p><audio controls="false" src="http://192.168.0.165:8000/" type="audio/mpeg" autoplay="true" style="width: 75%;"></audio></p>
            <p><%=state%></p>
        </div>
    </div>
</div>


<%-include('footer.ejs') %>